---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
const serviceEntries = await getCollection('service');
const contactInfo = await getEntry('about', 'contact');



---

<Layout title="English Services" description="Fluent English services with cars, motorcycles, and scooters in Taiwan. Includes renting, buying, selling, inspecting, repair, and maintenance.">
  <head>
    <div class="uk-section uk-section-primary">
    <div class="uk-container uk-height-medium uk-flex uk-flex-center uk-flex-middle">
      <h1 class="uk-heading-large uk-text-center">
        English-Language Car, Motorcycle, and Scooter Services in Taiwan
      </h1>
    </div>
    </div>
  </head>
  <main>
    <div class="uk-section uk-section-default">
      <div class="uk-container" >
        <p>
          Interested in owning, or already own, a car, motorcycle, or scooter in Taiwan, and daunted by the labyrinthian Chinese-language bureaucracy? Let our bilingual English- and Mandarin-speaking staff help out! Whatever your motor vehicle related needs are in Taiwan, we can help.
        </p>
      </div>
      </div>
    <div class="uk-section uk-section-default">
      <div class="uk-container" >
        <div class="uk-grid-small uk-grid-column-large uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-grid-match" uk-grid>
          { serviceEntries.map(service => (
            <div class="uk-card uk-card-default uk-card-hover">
              <div class="uk-card-body">
              <h3 class="uk-card-title">
                {service.data.title}
              </h3>
              <p>
              {service.data.description}
              </p>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text">Read more</a>
            </div>
            </div>

          ))}

        </div>
      </div>
    </div>
    <div class="uk-section uk-section-secondary uk-text-center">
      <div class="uk-container">
        {contactInfo.body}
      </div>
    </div>
	</main>
</Layout>
