---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
const serviceEntries = await getCollection('service');



---

<Layout title="English Services" description="Fluent English services with cars, motorcycles, and scooters in Taiwan. Includes renting, buying, selling, inspecting, repair, and maintenance.">
  <div class="bg-gray-100 min-h-25p mb-6">
    <section>
      <div class="hero">
        <div class="hero-body">
          <div class="content px-12-lg px-24-xl">
            <h1 class="title">
              English-Language Car, Motorcycle, and Scooter Services in Taiwan
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="mb-12">
    <div class="content px-12-lg px-24-xl px-2-sm px-2">
      <p>
        Interested in owning, or already own, a car, motorcycle, or scooter in Taiwan, and daunted by the labyrinthian Chinese-language bureaucracy? Let our bilingual English- and Mandarin-speaking staff help out! Whatever your motor vehicle related needs are in Taiwan, we can help.
      </p>
    </div>
  </section>
  <div class="row px-6-lg px-12-xl py-1">
    { serviceEntries.map(service => (
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-4">
      <div class="card h-100p u-flex u-flex-column p-2 hover-grow">
        <div class="card__header">
          <h3 class="uk-card-title">
            {service.data.title}
          </h3>
        </div>
        <div class="content">
          <p>
            {service.data.description}
          </p>
        </div>
        <div class="card__action-bar">
          <a href={'services/' + service.slug} class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    ))}
  </div>
  <Footer />
</Layout>

<style>
 .hover-grow:hover {
     z-index: 100;
 }
</style>
